---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Container from "@/components/Container.astro";
import { buttonVariants } from "@/components/ui/button";
import { ExternalLinks } from "@/components/ExternalLinks";
import { cn } from "@/lib/utils";
import { MainCards } from "@/components/MainCards";
const title = "Home";
---

<BaseLayout title={title}>
  <Container class="h-screen flex flex-col justify-center">
    <div
      class="min-h-[30vh] sm:pt-[5vh] flex flex-col justify-center gap-y-6 w-full"
    >
      <h1 class="text-4xl font-light title">
        Hello. I'm <span class="font-medium">Josiah Smith</span>. A <span
          class="text-blue-600 dark:text-blue-400">data scientist</span
        > and aspiring <span class="text-purple-600 dark:text-purple-400"
          >software engineer</span
        >.
      </h1>
      <p class="max-w-2xl text-zinc-600 dark:text-zinc-300 text-lg subtitle">
        My passion is knowledge. Web development and design are at the top of
        the list.
      </p>
      <div class="flex gap-x-2">
        <a
          class:list={cn(
            buttonVariants({ variant: "default" }),
            "rounded-full px-8"
          )}
          href="/contact"
        >
          Contact
        </a>
        <ExternalLinks client:load />
      </div>
    </div>
  </Container>

  <MainCards client:load />

  <div class="h-96"></div>
</BaseLayout>
