---
import "@/styles/globals.css";
import Navbar from "@/components/Navbar.astro";
import Background from "@/components/Background.astro";
import { CursorWrapper } from "@/components/CursorWrapper";
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <!-- <link rel="stylesheet" href="https://use.typekit.net/red2ncd.css" /> -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="preload"
      as="style"
      href="https://fonts.googleapis.com/css2?family=Pacifico&family=Prompt:wght@300&family=Space+Mono&display=swap&text=Josiah"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Pacifico&family=Prompt:wght@300&family=Space+Mono&display=swap&text=Josiah"
      rel="stylesheet"
    />
    <script is:inline>
      // On page load or when changing themes, best to add inline in `head` to avoid FOUC
      if (
        localStorage.theme === "dark" ||
        ((!("theme" in localStorage) || localStorage.theme === "auto") &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }

      window
        .matchMedia("(prefers-color-scheme: dark)")
        .addEventListener("change", () => {
          let scheme;
          let theme = localStorage.theme;
          console.log(theme);
          if (theme === "dark" || theme === "light") {
            return;
          }
          scheme = window.matchMedia("(prefers-color-scheme: dark)").matches
            ? "dark"
            : "light";
          if (scheme === "dark") {
            document.documentElement.classList.add("dark");
          } else {
            document.documentElement.classList.remove("dark");
          }
        });
    </script>
    <title>{title}</title>
  </head>
  <body class="bg-background overflow-x-hidden">
    <CursorWrapper client:only />
    <Navbar />
    <slot />
    <Background />
  </body>
</html>
